<html>
    <head><title>個人介紹</title></head>
    <body>
        <div style="color: aqua;font-size: 20px;">
<h1 >個人介紹</h1>
<p style="color: black;background-color: blue;padding: 20px;">姓名:江品賢</p>
   <p style="color: blueviolet;background-color: antiquewhite;padding: 20px;">學校:國立金門大學</p>
   <p style="color: dimgrey;background-color: dodgerblue;padding: 20px;">班級:資工一</p>
   <p style="color: crimson; background-color: darkgray;padding: 20px ;">學號:111010504
</p>
</div>
</body>
</html>
